

h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#c47ac0, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body{
  font-family: Palatino;
  background-color: #a3d9f8;
}



div.polaroid {
  width: 100%;
  background-color: #e8ebe4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  
  padding: 20px 20px;
}
img {
width:100%;
height: 50%;
}
.choiceButton {
  font-family: Comic Sans MS;
  font-weight: bold;
color: #494949 !important;
text-transform: uppercase;
background: #e3c567;
padding: 20px;
border: 2px solid #494949 !important;
border-radius: 25px;
display: inline-block;
  margin: 5px;
}

.choiceButton:hover {
color: #ffffff !important;
background: #c47ac0;
border-color: #7fd1b9 !important;
transition: all 0.4s ease 0s;
}
.cardProfile {
  right-margin:0;
  align:left;
}
.regular {
  
}
.doubleWinner {
  
    background-image: radial-gradient(black, pink, black);
}
.job {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: repeating-linear-gradient(90deg,black,white 7%,black 10%); /* Standard syntax (must be last) */
}
#little {
  width: 1px;
  height:1px;
}
#largerThanLife {
  width:600px;
  height:400px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
 background-color: #a3d9f8;
  padding: 10px;
}

.grid-container > div {
  background-color: #a3d9f8;
  text-align: center;
  
  padding: 20px 0;
  font-size: 20px;
}

.item1 {
  grid-area: 1 / 1 / span 1 / span 5;
}
.item2 {
  grid-area: 2 / 1 / span 3 / span 5;
}
.item3 {
  grid-area: 5 / 1 / span 1 / span 5;
}
.item4 {
  grid-area: 6 / 1 / span 1 / span 5;
}


.item9 {
  grid-area: 7 / 1 / span 4 / span 5;
}
.item10 {
  grid-area: 11 / 1 / span 3 / span 5;
}
.item11 {
  grid-area: 14 / 1 / span 1 / span 2;
}
.item12 {
  grid-area: 14 / 3 / span 1 / span 2;
}
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}
.flex-container > button {
  
  margin: 10px;
  padding: 20px;

}
